<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>
			<remove fileExtension="woff" />
			<remove fileExtension="woff2" />
			<mimeMap fileExtension="woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
			<remove fileExtension=".mp4"/>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>
    </system.webServer>
</configuration>