body {
    padding-bottom: 0px;
    color: #000;
}

/* AVDW: Updated style for notes */

blockquote {
    padding: 12.5px 25px;
    margin: 0 0 25px;
    font-size: 16px;
    border: 3px solid #4060c0;
}

/* Updated style for footer */

footer {
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: auto;
}

/* Updated style for menu items */

.toc .level1 > li {
  font-weight: normal;
}

/* Updated style for images in list */

ul li  img, ol li img {
    display: inline;
}

/********************************************/

.sidefilter {
    top: 90px;
}

.sidetoc {
    top: 156px;
}

.breadcrumb {
    padding: 6px 0 0 0;
    margin: 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

th, td {
    padding-left: 5px;
    padding-right: 10px;
    vertical-align: top;
    border:solid 1px #ccc;
    text-align: left;
    padding-left: 5px;
    padding-right: 10px;
    vertical-align: middle;
}

th, td img{
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
}

.article, #search-results {
    margin-top: 81px;
}

.search-list {
    padding-top: 25px;
}

.video_container{
    float:left;
    width:780px;
    margin-top:30px;
}
.video_container_left{
    float:left;
    width:360px;
    margin-right:10px;
}
.video_container_right{
    float:left;
    width:360px;
    margin-left:30px;
}
.video_container_content{
    float:left;
    width:100%;
    text-align:center;
}

@media only screen and (max-width: 768px) {
  .toc-toggle {
    display: inherit;
  }
  
  /* Our site.css override btn.display */
  .mobile-hide {
    display: none !important;
  }
  
  .article {
    margin-top: 30px !important;
  }
}

/* Already defined on navbar, but since we have conflict with current Xenko navbar we redefine them on breadcrumb */
.navbar {
    z-index: 50;
    margin-bottom: 0px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    min-height: 36px;
}

/* Don't try to make a collapsable navbar, even on smaller devices */
.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-right {
    float: right !important;
}

.navbar-nav {
    border-left: 1px solid #e7e7e7;
    width: 530px;
    height: 54px;
    margin-top: 0 !important;
}

.navbar-nav > li {
    height: 54px;
    border-right: 1px solid #e7e7e7;
    float: left;
}

.navbar-nav > li > a {
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 54px;
}

.navbar-nav > li > a:hover {
    background: #f0f0f0;
}

/* make container auto adjust up to 1370px */
.container {
  width: initial;
  max-width: 1370px;
}

.toc .nav > li > a {
  margin-left: 5px;
}

.toc .level1 > li {
  margin-top: 5px;
}

.toc .level3 {
    font-weight: normal;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level1, .toc .level2, .toc .level3, .toc .level4, .toc .level5 {
    margin-top: 0px;
}

.toc .level4 {
    font-weight: normal;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level5 {
    font-weight: normal;
    margin-left: 15px;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6, span.xref {
    word-wrap: normal;
    word-break: normal;
}

/* adjust before size so that anchor (#title) makes text scroll to proper location without hiding it under title bar */
h1:before, h2:before, h3:before, h4:before {
  height: 106px;
  margin-top: -106px;
}

footer {
  text-align: center;
}

.article li {
    list-style: initial;
    list-style-position: inside;
}

/* Tip, Note and Warning
   TODO: Perform some HTML or CSS transform to directly map boostrap instead?
*/
.TIP, .NOTE, .WARNING, .doc-incomplete {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 10px 10px 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TIP, .NOTE {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.WARNING, .doc-incomplete {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.TIP > :first-child,
.NOTE > :first-child,
.WARNING > :first-child {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.TIP > :first-child::before,
.NOTE > :first-child::before,
.WARNING > :first-child::before,
.doc-incomplete::before {
    position: absolute;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: initial;
    margin-left: -22px;
    margin-top: 5px;
}

.TIP > :first-child::before,
.NOTE > :first-child::before {
    content: "\e086";
}

.WARNING > :first-child::before,
.doc-incomplete::before {
    content: "\e107";
}

.TIP > :last-child,
.NOTE > :last-child,
.WARNING > :last-child,
.doc-incomplete > :last-child {
    margin-bottom: 0;
}

/* Labels
   TODO: Perform some HTML or CSS transform to directly map boostrap instead?
*/
.label-doc-level {
    background-color: #337ab7;
}

.label-doc-audience {
    background-color: #5cb85c;
}

.doc-incomplete {
    margin-bottom: 10px;
}

.doc-incomplete::before {
    margin-top: 0;
}

.doc-incomplete::after {
    content: "This documentation is under construction";
}