body {
    padding-bottom: 0px;
}

.sidefilter {
    top: 95px;
}

.sidetoc {
    top: 161px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

th, td {
    padding-left: 5px;
    padding-right: 10px;
	vertical-align: top;
}

.article, #search-results {
    margin-top: 91px;
}

@media only screen and (max-width: 768px) {
  .toc-toggle {
    display: inherit;
  }
  
  /* Our site.css override btn.display */
  .mobile-hide {
    display: none !important;
  }
  
  .article {
    margin-top: 30px !important;
  }
}

/* Already defined on navbar, but since we have conflict with current Xenko navbar we redefine them on breadcrumb */
.navbar {
    z-index: 50;
    box-shadow: 0 4px 12px rgba(1, 1, 1, 0.2);
    margin-bottom: 0px;
}

/* Don't try to make a collapsable navbar, even on smaller devices */
.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-right {
    float: right !important;
}

.navbar-nav {
    border-left: 1px solid #e7e7e7;
    width: 530px;
    height: 54px;
    margin-top: 0 !important;
}

.navbar-nav > li {
    height: 54px;
    border-right: 1px solid #e7e7e7;
    float: left;
}

.navbar-nav > li > a {
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 54px;
}

.navbar-nav > li > a:hover {
    background: #f0f0f0;
}

/* make container auto adjust up to 1370px */
.container {
  width: initial;
  max-width: 1370px;
}

.level1 {
  margin-top: 5px;
}

.toc .level1 > li {
  margin-top: 5px;
}

.toc .level3 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level4 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level5 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.breadcrumb {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, span.xref {
    word-wrap: normal;
    word-break: normal;
}

/* In this article right menu */
.affix {
  top: 95px;
}

/* adjust before size so that anchor (#title) makes text scroll to proper location without hiding it under title bar */
h1:before, h2:before, h3:before, h4:before {
  height: 180px;
  margin-top: -180px;
}

/* View Source and Improve this doc buttons */
#_content>a{
  margin-top: 185px;
}

footer {
  text-align: center;
}